.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}
.height {
    height: 93vh;

}

.body {
    border-right: solid 0.2px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

/**SCROLL  */
.body::-webkit-scrollbar {
    width: 8px;     /* vertical scroll size */
    height: 5px;   /* horizontal scroll*/
}

/* background color*/
.body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* background color and shadow */
.body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* change background color active*/
.body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
/* track background color */
.body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* in hover, backgroundcolor*/
.body::-webkit-scrollbar-track:hover,
.body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

/**END SCROLL */


/* GENERAL CSS */

h2,p {
    margin: 0;
    font-family: sans-serif;
}

h2 {
    font-size: 2.26rem;
    text-transform: capitalize;
}

.h2-general {
    color: #333333;
    
}

.h2-grey{
    color: #828282;

}

.h2-failed{
    color: #EC5757;

}


