.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 8rem;
    border-bottom: solid 0.2px rgba(0, 0, 0, 0.1);
    margin-left: 1.5rem;
}



.person:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.arrow {
    font-size: 1.5rem;
}

.extra-info {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}


.active {
    background-color: rgba(0, 0, 0, 0.1);
}

